<div>
  <a [routerLink]="['/home']">主页</a>
  <!--<a [routerLink]="['/stock']" [queryParams]="{id:1, name:'hehe'}">股票详情</a>-->
  <a [routerLink]="['/stock',1]">股票详情2</a>
  <input type="button" value="股票详情" (click)="toStockDetail()">
  <input type="button" value="买家详情" (click)="toBuyerDetail()">

  <a [routerLink]="[{outlets: {primary: 'home', aux: 'consult'}}]">开始咨询</a>
  <a [routerLink]="[{outlets: {aux: null}}]">结束咨询</a>
</div>
<!--<app-stock></app-stock>-->
<!--<app-home></app-home>-->
<router-outlet></router-outlet>
<router-outlet name='aux'></router-outlet>
